.cart {
    background-color: rgb(255, 224, 179);
    position: sticky;
    top: 0;
}

.cart p {
    font-size: 17px;
}

.btn-clear-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    border-radius: 4px;
    background: rgb(255, 48, 48);
    color: white;
}